
.backgroandone {background-color: antiquewhite; height: 60px; width: 1500px; }
/* задаем цвет фона для контейнера nav. */
nav {
  margin: 0px 0;
  background-color: #f6c4ea;
}

/* убираем отступы и поля, а также list-style для "ul", 
* и добавляем "position:relative" */
nav ul {
  padding:0;
  margin:0;
  list-style: none;
  position: relative;
  
  }

/* применяем inline-block позиционирование к элементам навигации */
nav ul li {
  margin: 0px 0px 0 0;
  display:inline-block;
  background-color: #f6c4ea;
  
  }

/* стилизуем ссылки */
nav a {
  display:block;
  padding:0 30px;
  font-size:20px;
  line-height: 60px;
  text-decoration:none;
  
}

/* изменяем цвет фона при наведении курсора */
nav a:hover {
  background-color: #a14ba3;

}



.backgroandone1 {background-color: #dbaeae; height: 100px; width: 1500px; }
.fon {margin-left: 30px;}

button.btn {
  background-color: #f304cf;
  color: rgb(0, 0, 0);
  padding: 30px;
  font-size: 16px;
  border: none;
  outline: none;
  top:20px;
  padding-left: 80;
  right: -350px;
  width: 250px;
  
}

.dropdown {
  position: absolute;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position:absolute;
  top:80px;
  left: 100px;
  background-color: #ffffff;
  min-width: 250px;
  z-index: 1; }               /* чтоб список открывался поверх всех окон */


.dropdown-content a {
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #d0dce6;}

.dropdown:hover .dropdown-content {
  display: block;
}

.btn:hover, .dropdown:hover .btn {
  background-color: #d0dce6;
}

button.btn1 {
  background-color: #f304cf;
  color: rgb(0, 0, 0);
  padding: 30px;
  font-size: 16px;
  border: none;
  outline: none;
  top:20px;
  padding-left: 80;
  right: -620px;
  width: 250px; 
}

.dropdown-content1 {
  display: none;
  position:absolute;
  top:80px;
  left: 370px;
  background-color: #ffffff;
  min-width: 250px;
  z-index: 1; } 

  .dropdown-content1 a {
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content1 a:hover {background-color: #d0dce6;}

  .dropdown:hover .dropdown-content1 {
    display: block;
  }
  
  .btn:hover, .dropdown:hover .btn1 {
    background-color: #d0dce6;
  }

button.drop1 {display: none;}


* {box-sizing: border-box;}
form {
  position: relative;
  width: 300px;
  margin-left: 1200px ;
  margin-top: -75px;
}
input, button {
  border: none;
  outline: none;
  border-radius: 3px;
}
input {
  width: 100%;
  height: 42px;
  background: #F9F0DA;
  padding-left: 15px;
}
button {
  height: 26px;
  width: 26px;
  position: absolute;
  top: 8px;
  right: 8px;
  background: #f142a8;
  cursor: pointer;
}
button:before {
  content: "\f105";
  font-family: FontAwesome;
  color: #F9F0DA;
  font-size: 20px;
  font-weight: bold;
}

.backgroandone0 {background-color: antiquewhite; height: 700px; width: 1500px; }

#vidio {
  position:relative;
  height:400px;

  margin:0 auto;
}
 
#vidio img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
 
#vidio img.top:hover {
  opacity:0;
}






.backgroand {background-color: #dbaeae; background-image: url(shoos1.png); width: 1500px; height: 200px; position: relative;  }

.first {position: relative;}
.center {position: relative; left: 150px;}
.moda {position: relative; left: 200px;}

a:link {
  color: #497DDD; 
  border-bottom: 1px dashed; 
}

a:visited {
  color: #000000;
}
a:hover {
  color: #154088; 
  border-bottom: .07em solid;
}
a:active {
  color: #497DDD; 
  border-bottom: 1px dashed;
}

.write1 {font-style: italic; font-size: 22px;
}
.write {margin-left: 3%;}

.mail {
  list-style: none;
  background-image: url(mail.png);
  background-size: 1.2rem 1.2rem;
  background-repeat: no-repeat;
  margin-left: 45%;
  
}

.telegram {
  list-style: none;
  background-image: url(telegram.png);
  background-size: 1.2rem 1.2rem;
  background-repeat: no-repeat;
  margin-left: 45%;
  
}
.instagram {
  list-style: none;
  background-image: url(instagram.png);
  background-size: 1.1rem 1.1rem;
  background-repeat: no-repeat;
  margin-left: 45%;
   }

.page-wrapper {
  background-image: url(shoos1.png) bottom;
  display: flex;
    width: 100%;
    justify-content: space-between;
}
   .left-panel {    
     margin-left: 50px;
  }
.content-wrapper {
  
}
  .right-panel-wrapper {   
    
    margin-right: 50px;
  }

 .painting {text-align: center; font-size:xx-large;}
  .golt {text-align: center; font-size:xx-large;}
  .cloth {text-align: center;font-size:xx-large}
.listpainting {font: italic 1.2em "Fira Sans", serif; font-size:x-large;}
.listgolt {font: italic 1.2em "Fira Sans", serif;font-size:x-large;}
.listcloth {font: italic 1.2em "Fira Sans", serif; font-size:x-large;}
 


